body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #ffe4e1;
}

p {
  color: #ffe4e1;
  font-size: 24px;
}

.button {
  background-color: #ff69b4;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
}

/* ページごとの文字色 */
#page1 p { color: #ff4500; }
#page2 p { color: #4b0082; }
#page3 p { color: #008080; }
